<div class="container">
    <div class="row">
        <div class="col-xs-12">
                <h3>Iam in App Component!</h3>
                <hr>
                <!-- Calling by Element -->
                <app-servers></app-servers>
                <!-- Calling by Attribute -->
                <!-- <div app-servers></div> -->
                <!-- Calling by class -->
                <!-- <div class="app-servers"></div> -->
          <p> From github trying to pull !!! </p>
        </div>
    </div>
</div>



